{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wizardry Lab</title>
    <meta name="keywords" content="wizard, freelancing, professional, student, startup">
    <link rel="stylesheet" href="public/css/main.css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="container-lg-fluid">
      <div class="author-info">
        Wizardry Lab | author: @zypeh
      </div>

      <header class="main-header center-sm-wrap">
        <div class="nnkd-header">
          <a href="/dev-log/"><h3>NNKD</h3></a>
        </div>

      </header>
      <div class="post">
        <header class="page-header center-sm-wrap">
          <h1 class="page-title">About Us</h1>
        </header>

    <article class="page-content">
      <p>Lorem Ipsum</p>

    <p><a href="https://twitter.com/nnkdnnkd">Twitter: @</a></p>

    <p><a href="https://github.com/seenaburns">Github: @</a></p>

    <p><a href="http://nnkd.org/dev-log/">Works</a></p>

      </article>

    </div>

        </div>
{{end}}
